:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

/* One section
call it full-head
ends where pics start

top of section
display flex
flex-direction column
height 100vh
*/

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #333;
  color: rgb(216, 216, 216);
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1.5; */
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header-section {
  padding-top: 30px;
  padding-bottom: 20px;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin: 0;
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.site-logo {
  font-size: 24px;
  padding-top: 20px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-side-intro {
  display: none;
}

.text-section {
  margin: 0;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-top: 7rem;
  padding-bottom: 7rem;
  /* scroll-padding-top: 110px; */
}

.intro {
  justify-content: space-evenly;
  text-align: center;
  margin: 0;
  font-size: 30px;
}

.text-section span {
  color: rgb(255, 94, 94);
}

.text-center {
  text-align: center;
}

.portfolio-section {
  display: flex;
}

.portfolio-filter {
  padding-bottom: 2rem;
  text-align: center;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  padding-bottom: 6.5rem;
}

.portfolio-filter li {
  margin-right: 2rem;
  display: inline-block;
  font-size: 16px;
  padding-bottom: 10px;
  justify-content: space-evenly;
  color: #979797;
  cursor: pointer;
}

.portfolio-filter li.mixitup-control-active {
  color: rgb(255, 94, 94);
}

.container > .portfolio-section {
  text-align: center;
}

.pictures {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.pictures li {
  padding: 0.5rem;
}

.closer-section {
  display: contents;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.closer-section h2 {
  margin-bottom: 3rem;
  width: 100%;
  margin-top: 0;
}

.closer-section .container {
  text-align: center;
  justify-content: center;
}

.site-btn {
  justify-content: center;
  font-size: 14px;
  min-width: 140px;
  padding: 15px 10px;
  position: relative;
  color: #fff;
  border: none;
  background-color: rgb(0, 0, 0);
  margin-right: 15px;
  z-index: 1;
  text-decoration: none;
}

.spooky {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  position: relative;
  padding-bottom: 15px;
}

@media (min-width: 800px) {
  ul {
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
  }
  .header-section ul {
    visibility: visible;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }
  /* position: relative; */
  /* justify-content: center; */
  .right-side-intro {
    display: contents;
    color: rgb(28, 217, 255);
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    color: #1cd9ff;
    margin-left: 15px;
    margin-right: 10px;

    margin: 0;
    padding-top: 20px;
  }

  .header-btn {
    float: right;
    margin-right: 0;
  }

  .main-menu li {
    margin-right: 0.5rem;
    margin-left: 0.75rem;
  }

  .container {
    /* max-width: 540px; */
    justify-content: space-between;
  }
}

/* } */

/* 
.tester 
  font-family: sans-serif;
 */
